@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

.a .one {
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    transparent 1px,
    transparent 7px
  );
}
.circo-gradient {
  background-image: linear-gradient(to right, #ae0c4d, #cd1942, #ff2f2f);
}
:root {
  --primary: #ae0c4d;
  --primary-200: #ff2f2f;
  --primary-300: #ff2f2f;
  --primary-400: #ffeaea;
  --success: #1aa064;
  --accent: #353535;
  --accent-200: #1a1a1a;
  --accent-300: #262626;
  --radius: 0.625rem;
  --background: #ffffff;
  --background-2: #f7f9fc;
  --background-3: #151515;
  --foreground: #1b1b1b;
  --foreground-2: #aaabb0;
  --foreground-3: #747474;
  --foreground-4: #2a2a2a;

  --primary-foreground: #ffffff;
  --primary-foreground-2: #e0e0e0;
  --primary-foreground-3: #b0b0b0;
  --chart-1: #8979ff;
  --chart-2: #ff928a;
  --secondary: #f4f4f6;
  --secondary-2: #eaeaed;
  --secondary-3: #e0e0e4;
  --tertiary: #e9e9e9;
  --success: #1aa064;
  --success-2: #d1ece0;
  --warning: #f4c790;
  --warning-2: #ffe6c8;
  --error: #da3c3c;
  --error-2: #e4626f;
  --error-3: #ffe0d5;
  --error-4: #ff642b;
  --border: var(--secondary-2);
  /* other */
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme inline {
  --color-background: var(--background);
  --color-background-200: var(--background-2);
  --color-background-300: var(--background-3);
  --color-foreground: var(--foreground);
  --color-foreground-200: var(--foreground-2);
  --color-foreground-300: var(--foreground-3);
  --color-foreground-400: var(--foreground-4);
  --color-primary-400: var(--primary-400);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-foreground-200: var(--primary-foreground-2);
  --color-primary-foreground-300: var(--primary-foreground-3);
  --color-success: var(--success);
  --color-success-200: var(--success-2);
  --color-warning: var(--warning);
  --color-warning-200: var(--warning-2);
  --color-error: var(--error);
  --color-error-200: var(--error-2);
  --color-error-300: var(--error-3);
  --color-error-400: var(--error-4);
  --color-accent: var(--accent);
  --color-accent-200: var(--accent-200);
  --color-accent-300: var(--accent-300);
  --color-secondary: var(--secondary);
  --color-secondary-200: var(--secondary-2);
  --color-secondary-300: var(--secondary-3);
  --color-tertiary: var(--tertiary);
  --color-chart-100: var(--chart-1);
  --color-chart-200: var(--chart-2);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-border: var(--secondary-2);

  /* other */
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-300: var(--chart-3);
  --color-chart-400: var(--chart-4);
  --color-chart-500: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --primary: #ae0c4d;
  --primary-200: #ff2f2f;
  --success: #1aa064;
  --accent: #353535;
  --accent-200: #1a1a1a;
  --accent-300: #262626;
  --radius: 0.625rem;
  --background: #040404;
  --background-2: #000000;
  --background-3: #151515;
  --foreground: #ffffff;
  --foreground-2: #e0e0e0;
  --foreground-3: #b0b0b0;
  --foreground-4: #707070;
  --primary-foreground: #ffffff;
  --primary-foreground-2: #e0e0e0;
  --primary-foreground-3: #b0b0b0;
  --chart-1: #8979ff;
  --chart-2: #ff928a;
  --secondary: #1a1a1a;
  --secondary-2: #282828;
  --secondary-3: #353535;
  --tertiary: #4f4f4f;
  --success: #1aa064;
  --success-2: #d1ece0;
  --warning: #f4c790;
  --warning-2: #ffe6c8;
  --error: #da3c3c;
  --error-2: #e4626f;
  --error-3: #ffe0d5;
  --error-4: #ff642b;
  /* other */
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* .bg-circo-gradient {
    @apply bg-gradient-to-r from-[#ae0c4d] via-[#cd1942] to-[#ff2f2f];
  } */
}

/* Hide scrollbar but keep functionality */
.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
